input[type="text"]{
	width: 315px;
	height: 40px;
	margin-bottom: 50px;

	background-color:#9dea8c;
	position:relative;
	left:15px;
	top:20px;
}
main{
	background-color: #3d4543;
	height:300px;
	width:350px;
	border-radius:10px;
	position:relative;
	top:80px;
	margin: auto;
}
input[type="button"]{
	width:40px;
	height:30px;
	border-radius:8px;
	margin-left:15px;
	margin-right: 10px;
	margin-bottom: 15px;
	border-top:2px solid transparent;
}
.black{
	color:white;
	background-color:#151515;
	border-bottom:black 2px solid;
	border-top:2px 303030 solid;
}

.red{
	color:black;
	background-color:#ff4561;
	border-bottom:black 2px solid;
}
