body{
	background-color: #FFE4CD;
}
input{
	text-align: center;
}
button[type="button"]{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #BFEBFD;
	border: none;
	padding: 5px;
}
button[type="button"]:hover{
	
	box-shadow: 5px 10px 16px 0 rgba(0,0,0,0.2), 0 7px 15px 0 rgba(0,0,0,0.19);
}
input[type="text"]{
	border-style: solid;
    width: 100px;
}

#position2{
	position: relative;
    bottom: -11px;
    right: 36px;
}

input[type="color"]{
	width: 100px;

}

#position1{
	position: relative;
    right: 58px;
}
form{
	margin-top: 21px;
}