body{
	background-color: lightgrey;
}
main{
	margin: auto;
	width: 940px;
}
header{
	background-color: white;
}
nav{
	background-color: black;
	min-width: 940px;
	min-height: 30px;
}
a{
	display: inline-block;
	padding-right: 50px;
	text-decoration: none;
	color: white;
	padding: 10px;
}
section{
	margin: 25px;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	display: inline-block;
	background-color: white;
	width: 282px;
	padding: 14px;
	max-height: 230px;
}
article{
	background-color: white;
}
aside{
	padding: 10px;
	position: relative;
	display: inline-block;
	max-width: 60%;
}
div{
	background-color: lightgrey;
	width: 300px;
	padding: 15px;
}
ul li{
	list-style: none;
}
footer{
	background-color: white;
	height: 60px;
}