body{
	margin: 0;
}
section.container{
	background-color: #C7C7C7;
	position: relative;
	padding: 0;
	min-height: 90%;
	margin-bottom: 200px;
	margin-top: 50px;
}
.content{
	background-color: #FF5500;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.news{
	background-color: #C7C7C7;
}
.area{
	margin: auto;
	width: 60%;
	min-height: 300px;
	margin-bottom: 0;
}
section.welcome{
	margin: auto;
	position: relative;
	margin-top: 50px;
}
article{
	padding-top: 30px;
}
section.top{
	position: relative;
	width: 100%;
	height: 100px;
	box-shadow: 2px 2px 4px orange;
}
header{
	margin-left: 15px;
	width: 50%;
	height: 70px;
	font-size: 30px;
}

a.nav{
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: black;
	background-color: #C7C7C7;
	border-radius: 25px;
}
a.nav:hover{
	color: #FFDED7;
	background-color: #FF5500;
	box-shadow: 2px 2px 4px #6C1300;
}
nav, .dropbutton{
	position: relative;
	display: inline-block;
}
a.dnav{
	text-decoration: none;
	color: black;
	margin: auto;
}
a.dnav:hover{
	color: #FF5500;
	background-color: #FFDED7;
}
.dropmenu{
	display: none;
	position: absolute;
	background-color: #C7C7C7;
	min-width: 300px;
	box-shadow: 2px 2px 4px #6C1300;
	z-index: 1;
}
.dropbutton:hover .dropmenu{
	display: block;
}
.dropmenu ul li{
	list-style-type: none;
}
header.example{
	padding: 30px;
	color: green;
	font-size: 20px;
	font-family: "Georgia", serif;
}
td.example{
	border-bottom: 1px solid green;
	background-color: #D6FFD7;
	color: green;
}
section.example{
	padding: 30px;
	border: 5px solid green;
	width: 300px;
	padding: 5px;
	margin: 15px;
}

nav.example{
	background-color: #D6FFD7;
}
a.example{
	color: green;
}
a.example:hover{
	color: #D6FFD7;
	background-color: green;
}

aside.example{
	padding: 30px;
	color: green;
}
table.example{
	padding: 30px;
	margin: 20px;
	width: 500px;
	border: 3px solid green;
}
p.example{
	padding: 30px;
	color: green;
}
hr.example{
	border-color: green;
}
footer.example{
	padding: 30px;
	color: green;
	background-color: #D6FFD7;
}
table{
	margin: auto;
	width: 80%;	
}
section.footer{
	margin-left: 15px;
	margin-right: 15px;
}
tr.color{
	background-color: #FFDED7;
	color: #FF5500;
}
tr, td{
	margin: 0;
}
th{
	border-bottom: 3px solid #FF5500;
}
tr{
	padding-top: 10px;
}
td.sentence{
	text-align: center;
}
.font{
	color: #9A1B00;
}
hr{
	border-color: #FF0000;
}
footer.foot{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
	box-shadow: 2px -2px 4px #FFDED7;
}